<div class="grid-border">
        <nz-table #nzTable
        [nzScroll]="!!_fixScrollY?{ y: _fixScrollY }:null" 
        [nzIsPagination]="_pagination" 
        nzShowSizeChanger
        [nzPageSizeSelectorValues]="pageSizeValues" 
        [nzAjaxData]="_data.content" 
        [nzTotal]="_data.numberOfElements"
        [nzLoading]="_loading" 
        [(nzPageIndex)]="_first"
        (nzPageIndexChange)="refreshData()"
        [(nzPageSize)]="_rows"
        (nzPageSizeChange)="refreshData(true)"
        [nzShowTitle]="showTitle"
        [nzSize]="'middle'"
        nzCustomNoResult="没有记录">
        <div class="table-title" nz-table-title>
            <ng-template #defaultTitle>
                <div>
                    <button class="btn-editcol" nz-button [nzType]="'primary'" *ngIf="buttonGather.showEditColumn">
                        <span><i class="anticon anticon-edit"></i>编辑列</span>
                    </button>
                    <button class="btn-export" nz-button [nzType]="'primary'" [nzLoading]="_exportLoading" *ngIf="buttonGather.enableExport">
                        <span><i class="anticon anticon-export"></i>导出</span>
                    </button>
                </div>
            </ng-template>
            <ng-template [ngTemplateOutlet]="_titleTpl || defaultTitle"></ng-template>
        </div>
        <ng-template #nzFixedHeader [ngIf]="!_fixScrollY">
            <thead nz-thead>
                <tr>
                    <!-- checkbox宽度大小要全局控制，添加到真正项目的时候要全局修改 -->
                    <th nz-th nzCheckbox *ngIf="mulitipy" class="checkbox">
                        <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="checkAll($event, nzTable.data)">
                        </label>
                    </th>
                    <th nz-th *ngFor="let column of columns" [nzWidth]="column.width || '120px'">
                        <span>{{column.header}}</span>
                    </th>
                </tr>
            </thead>
        </ng-template>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data" (click)="onRowSelectChange(data)">
                <td nz-td nzCheckbox *ngIf="mulitipy">
                    <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="refreshStatus(data)">
                    </label>
                </td>
                <td nz-td *ngFor="let column of columns">
                    <span>{{data[column.field]}}</span>
                </td>
            </tr>
        </tbody>
        <span nz-table-footer>Here is footer</span>
    </nz-table>

</div>