<article>
    <section class="markdown">
        <h1>shipper-select 发货人选择</h1>
        <section class="markdown">
            <p>使用nz-select组件封装发货人选择组件</p>
            <h2 id="何时使用"><span>如何使用</span>
                <a class="anchor">#</a>
            </h2>
            <p>输入发货人关键字，显示发货人</p>
        </section>
        <h2>代码演示<i class="code-box-expand-trigger anticon anticon-appstore" title="展开全部代码"></i></h2>
    </section>
    <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
            <nz-code-box [nzTitle]="'基本使用'" id="shipper-select-demo-basic" [nzCode]="ShipperSelectDemoBasicCode">
                <shipper-select-demo-basic demo></shipper-select-demo-basic>
                <div intro>
                    <p>基本使用。</p>
                </div>
            </nz-code-box>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-code-box [nzTitle]="'多选发货人'" id="shipper-select-demo-multiple" [nzCode]="ShipperSelectDemoMultipleComponent">
                <shipper-select-demo-multiple demo></shipper-select-demo-multiple>
                <div intro>
                    <p>下拉框支持多选功能，并返回数组的形式</p>
                </div>
            </nz-code-box>
        </div>
    </div>
    <section class="markdown api-container">
        <h2 id="API"><span>API</span>
            <!-- <a class="anchor">#</a> -->
        </h2>
        <h3 id="Select props"><span>shipper-select</span>
            <!-- <a class="anchor">#</a> -->
        </h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>说明</th>
                    <th>类型</th>
                    <th>默认值</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ngModel</td>
                    <td>指定当前选中的条目，支持双向绑定</td>
                    <td>
                        Array（多选）/String/Object（单选）
                    </td>
                    <td>无</td>
                </tr>
                <tr>
                    <td>placeholder</td>
                    <td>输入框默认提示</td>
                    <td>
                        String
                    </td>
                    <td>请选择发货人</td>
                </tr>
                <tr>
                    <td>shipperMode</td>
                    <td>设置 Select 的模式,默认单选</td>
                    <td>
                        'multiple'
                    </td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>valueType</td>
                    <td>单选模式下返回发货人值或者对象，默认字符串</td>
                    <td>"object"</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>width</td>
                    <td>输入框宽度，支持百分比和像素</td>
                    <td>String | Number</td>
                    <td>100%</td>
                </tr>
                <tr>
                    <td>customTemplate</td>
                    <td>支持自定义下拉选项，传入模板</td>
                    <td>TemplateRef</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </section>
</article>